@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
.main-container{
    flex:2;
    margin-top:10px;
    margin-bottom:10px;

}
.viewBox{

    height:370px;
    width:95%;
    margin-left:20px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  26px 26px 52px #c3c3c3,
    -26px -26px 52px #fdfdfd;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom:20px;
}
.vehiName{
    margin-left: 50px;
    margin-top: 10px;
    font-size: 40px;
    font-family: "Roboto Light";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Bowlby One SC', cursive;
}
.inputCouple{
    margin-left: 50px;
}
.input1{
    color:red;
    font-size:25px
}
.input2{
    font-size:25px
}
.edit{
    margin-left:50px;
    justify-content:space-between;
    margin-right: 20px;
}
.updater{
    display:flex;
    margin-top: 3px;

}
.topContainer{
    display:flex;
}
.searchbox{
    width:80%;
    height:35px;
    background-color:white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-color: red;
    border-style: solid;
    margin-bottom: 20px;
    margin-left: 25px;
}
.searchInput:focus{
    outline:darkblue;
}
.topic:hover{
    color: #d6b0f5;
}
